!! Import colorscheme
#include ".Xresources.d/gruvbox-dark.xresources"


!! My own customisations

*customization: -color
XTerm*termName:  xterm-256color

xterm*loginshell: true

xterm*vt100*geometry: 240x70

!! xterm*foreground: rgb:a8/a8/a8
!! xterm*background: rgb:00/10/15

xterm*faceName: Fira Code Retina
xterm*faceSize: 9

xterm*activeIcon: true

xterm*vt100*internalBorder: 32

xterm*vt100.translations: #override \n\
        Ctrl ~Shift <Key>Tab: string(0x1b) string("[27;5;9~") \n \
        Ctrl Shift <Key>Tab: string(0x1b) string("[27;6;9~") \n

xterm*metaSendsEscape: true

!! urxvt customisations
urxvt.termName: rxvt-unicode-256color

urxvt.font: xft:Fira Code Retina:size=9,\
            xft:Material Icons:size=6
urxvt.letterSpace: 0
urxvt.lineSpace: 2

urxvt.fading: 0
urxvt.dynamicColors: on

urxvt.scrollBar: false
urxvt.geometry: 240x70
urxvt.internalBorder: 48

! allow alt + m to work for tmux
urxvt.perl-ext-common: "default, -searchable-scrollback"
! allow ctrl + shift
urxvt.iso14755: false
urxvt.iso14755_52: false
! map ctrl + tab properly
urxvt.keysym.Control-Tab: \033[27;5;9~
urxvt.keysym.Control-ISO_Left_Tab: \033[27;6;9~

!! rofi customisations
! rofi.key-run: SuperL+space
rofi.disable-history: false
rofi.fuzzy: true

rofi.font: Fira Code Retina 12
rofi.line-margin: 5
rofi.separator-style: solid
rofi.hide-scrollbar: true

rofi.color-enabled: true
!                   bg          fg          bg-alt      hl-bg       hl-fg
! rofi.color-normal:  #282828,    #859ba3,    #282828,    #268bd2,    #202020
! rofi.color-normal:  #282828,    #ebdbb2,    #282828,    #83a598,    #282828
rofi.color-normal:  #ebdbb2,    #282828,    #ebdbb2,    #83a598,    #282828
rofi.color-active:  #ebdbb2,    #282828,    #ebdbb2,    #83a598,    #282828
!                   bg          border      separator
rofi.color-window:  #ebdbb2,    #404040,    #404040
rofi.opacity: 80

rofi.lines: 10
rofi.fixed-num-lines: true
rofi.width: 20
rofi.location: 0
rofi.padding: 10
rofi.fullscreen: false
rofi.sidebar-mode: false
rofi.monitor: 0

! border width
rofi.bw: 2


!! Display dpi
Xft.dpi: 120
Xcursor.size: 32
