!! Import colorscheme
#include ".Xresources.d/lovelace.xresources"

!! Set colors
*background:    S_background
*foreground:    S_foreground
*color0:        S_black
*color8:        S_darkgrey
*color1:        S_darkred
*color9:        S_red
*color2:        S_darkgreen
*color10:       S_green
*color3:        S_darkyellow
*color11:       S_yellow
*color4:        S_darkblue
*color12:       S_blue
*color5:        S_darkmagenta
*color13:       S_magenta
*color6:        S_darkcyan
*color14:       S_cyan
*color7:        S_lightgrey
*color15:       S_white


!! My own customisations

*customization: -color
XTerm*termName:  xterm-256color

xterm*loginshell: true

xterm*vt100*geometry: 240x70

!! xterm*foreground: rgb:a8/a8/a8
!! xterm*background: rgb:00/10/15

xterm*faceName: Fira Code Retina
xterm*faceSize: 9

xterm*activeIcon: true

xterm*vt100*internalBorder: 32

xterm*vt100.translations: #override \n\
        Ctrl ~Shift <Key>Tab: string(0x1b) string("[27;5;9~") \n \
        Ctrl Shift <Key>Tab: string(0x1b) string("[27;6;9~") \n

xterm*metaSendsEscape: true

!! urxvt customisations
urxvt.termName: rxvt-unicode-256color

urxvt.font: xft:Fira Code Retina:size=9,\
            xft:Material Icons:size=6
urxvt.letterSpace: 0
urxvt.lineSpace: 2

urxvt.fading: 0
urxvt.dynamicColors: on

urxvt.scrollBar: false
urxvt.geometry: 240x70
urxvt.internalBorder: 48

! allow alt + m to work for tmux
urxvt.perl-ext-common: "default, -searchable-scrollback"
! allow ctrl + shift
urxvt.iso14755: false
urxvt.iso14755_52: false
! map ctrl + tab properly
! urxvt.keysym.Control-Tab: \033[27;5;9~
! urxvt.keysym.Control-ISO_Left_Tab: \033[27;6;9~

!! st customizations =============================================
! st.font:			    Fira Code:size=8.5
st.font:			    SF Mono:style=Medium:size=11
! st.bold_font:			0
! st.background:			#131415
! st.foreground:			#A3BAD0
st.cursorColor:			#ebdbb2
st.internalBorder:      48
st.termname:			st-256color
st.shell:			    /bin/sh
st.bellvolume:			100
st.tabspaces:			8
st.chscale:			    1.1
st.cwscale:			    1.0

!! rofi customisations ==========================================
! rofi.key-run: SuperL+space
rofi.disable-history: false
rofi.fuzzy: true
rofi.modi: drun,run
rofi.show: drun

rofi.font: SF Pro Display Medium 15
rofi.line-margin: 6
rofi.separator-style: dotted
rofi.hide-scrollbar: true

rofi.color-enabled: true
!                   bg              fg              bg-alt          hl-bg       hl-fg
! rofi.color-normal:  #282828,    #859ba3,    #282828,    #268bd2,    #202020
! rofi.color-normal:  #282828,    #ebdbb2,    #282828,    #83a598,    #282828
rofi.color-normal:  S_background,   S_foreground,   S_background,   S_darkyellow,  S_black
rofi.color-active:  S_background,   S_foreground,   S_background,   S_darkyellow,  S_black
!                   bg              border          separator
rofi.color-window:  S_background,   S_darkgrey,     S_darkgrey
rofi.opacity: 80

rofi.lines: 10
rofi.fixed-num-lines: true
rofi.width: 20
rofi.location: 0
rofi.padding: 20
rofi.fullscreen: false
rofi.sidebar-mode: true
rofi.monitor: 0

! border width
rofi.bw: 2


!! Display dpi
Xft.dpi: 120
Xcursor.size: 32

!! Xft font rendering
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.fgba: rgb
